.country{
    border: 2px solid gold;

    border-radius: 5%;
    text-align: center;
    width: 300px;
    height: 200px;
    color: lightseagreen;
}
#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

#country{
    align-items: center;
    color: goldenrod;
    text-align: center;
    padding: 20px;
}

.img{
    width: 300px;
}
#cont{
    color: indigo;
}